<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
    <bean id="shape1" class="coreservlets.Rectangle">
        <property name="length" value="10"/>
        <property name="width" value="20"/>
    </bean>
    
    <bean id="shape3" class="coreservlets.RightTriangle">
        <property name="sideA" value="12"/>
        <property name="sideB" value="16"/>
    </bean>
    <bean id="shape2" class="coreservlets.Circle">
        <constructor-arg value="10"/>
    </bean>
</beans>
